<h3>Comments</h3>
<% i = 0%>
<% commentable.comments.each do |comment| %>
  <div class="row">Comment number <%= i %> </div>
  <div>
  <%= comment.body %>
  <% if commentable.class.name == "Project"%> 
  <%= link_to('Delete', "/projects/#{commentable.id}/comments/#{comment.id}", method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: 'btn btn-xs btn-danger') %>
  <% elsif commentable.class.name == "Task"%> 
  <%= link_to('Delete', "/tasks/#{commentable.id}/comments/#{comment.id}", method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: 'btn btn-xs btn-danger') %>
  <% end %> 
  <% if comment.document.url != nil%> 
    <%= link_to 'Download file', comment.document.url %>
  <% end %> 
  </div>
  <% i += 1%>
<% end %>