<div class="row">
  <% if current_user.has_role?(:admin) %>
    <h1>All Comments</h1>
  <% else %>
    <h1>Your Comments</h1>
  <% end %>
</div>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger pull-left" %>

<table class="table table-title" id="comments_datatable" data-source="<%= comments_path(format: "json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th>Deleted at</th>
        <th style="width: 300px;"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
