<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= f.input :name, input_html: { class: 'form-control' }, label: false , required: true%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Project</label>
  <div class="col-sm-8">
  <%= select_tag 'project_id', options_for_select( current_user.projects.collect{ |p| [p.name,p.id]} ), label: false, required: false %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">Status</label>
  <div class="col-sm-8">
  <%= select_tag 'status', options_for_select( Task.statuses.collect{ |t| [t[0],t[1]]} ), label: false, required: false %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">DeadLine Days</label>
  <%= f.input :deadline_days, input_html: { class: 'form-control' }, label: false , required: true%>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">Priority</label>
  <%= f.input :priority, input_html: { class: 'form-control' }, label: false , required: true%>
</div>


<div class="form-group">
  <label class="col-sm-4 control-label">End date</label>
  <%= f.input :end_date, as: :date, html5: true %>
</div>


<div class="form-actions">
  <%= f.button :submit, class: "btn btn-success btn-sm" %>
  <%= link_to 'Back', projects_path, class: "btn btn-primary btn-sm" %>
</div>
