<div class="row">
  <% if current_user.has_role?(:admin) %>
    <h1>All Tasks</h1>
  <% else %>
    <h1>Your Tasks</h1>
  <% end %>
</div>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger pull-left" %>
<%= link_to 'Create task', new_task_path ,class: "btn btn-success pull-left" %>

<table class="table table-title" id="tasks_datatable" data-source="<%= tasks_path(format: "json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Deadline days</th>
        <th>End Date</th>
        <th style="width: 300px;"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
