<div class="row">
  <h1>Users</h1>
</div>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger pull-left" %>

<table class="table table-title" id="users_datatable" data-source="<%= users_path(format: "json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
