<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= f.input :name, input_html: { class: 'form-control' }, label: false , required: true%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Description</label>
  <div class="col-sm-8">
  <%= f.input :description, input_html: { class: 'form-control' }, label: false , required: false%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Tipo</label>
  <div class="col-sm-8">
  <%= select_tag 'kind', options_for_select( Project.kinds.collect{ |t| [t[0],t[1]]} ), label: false, required: false %>
  </div>
  </div>
  
  <div class="form-group">
  <label class="col-sm-4 control-label">Start date</label>
  <%= f.input :start, as: :date, html5: true, hint: ("probably there are overlapping projects between start date and end date" if @check_date) %>
  </div>
  
  <div class="form-group">
  <label class="col-sm-4 control-label">End date</label>
  <%= f.input :end, as: :date, html5: true %>
  </div>
  
  <div class="form-group">
  <label> Add Task</label>
  <%= select_tag 'task_id', options_for_select( @tasks.collect{ |t| [t.name,t.id]} ), label: false, required: false, :prompt => "Add a task" %>
</div>


<div class="form-actions">
  <%= f.button :submit, class: "btn btn-success btn-sm" %>
  <%= link_to 'Back', projects_path, class: "btn btn-primary btn-sm" %>
</div>
