<div class="row">
  <% if current_user.has_role?(:admin) %>
    <h1>All Projects</h1>
  <% else %>
    <h1>Your Projects</h1>
  <% end %>
</div>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger pull-left" %>
<%= link_to 'Create Project', new_project_path ,class: "btn btn-success pull-left" %>

<table class="table table-title" id="projects_datatable" data-source="<%= projects_path(format: "json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Start</th>
        <th>End</th>
        <th>Expired</th>
        <th style="width: 300px;"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
